<section id="container00">

    <section id="container11">
        <img style="max-height: 400px;" src="<%= array[book_index].image_book %>">
        <h1>
            <%= array[book_index].title %>
        </h1>
        <h2>
            <%= array[book_index].author %>
        </h2>
        <h2>
            <%= array[book_index].description_book %>
        </h2>
        <h2>isbn :
            <%= array[book_index].isbn %>
        </h2>
        <h2>shelf :
            <%= array[book_index].shelf %>
        </h2>
    </section>
</section>