<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Train+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <header>
        <%- include('./layout/header.ejs') %>
    </header>
    <main>
        <main>
            <h1 id="main_head">Home Page</h1>
            <section id="container0">
                <% array.forEach((book,index)=> {%>
                    <section id="container1">
                        <img src="<%= book.image_book %>">
                        <h1>
                            <%= book.title %>
                        </h1>
                        <h2>
                            <%= book.author %>
                        </h2>
                        <h2>
                            <%= book.description_book %>
                        </h2>
                        <div id="pppp">
                            <div></div>
                            <a id="details_link" href="/details?book_index=<%= index %>&id=<%= book.id %>">details</a>
                        </div>
                        
                    </section>
                    <% }) %>       
            </section>
        </main>
    </main>
    <footer>
        <%- include('./layout/footer.ejs') %>
    </footer>
</body>
</html>